@import "tailwindcss";

@theme {
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #eae8e5;
  --color-outline: #857467;
  --color-on-primary-fixed-variant: #6d3a00;
  --color-on-secondary: #ffffff;
  --color-on-primary-fixed: #2e1500;
  --color-on-secondary-container: #636262;
  --color-primary-container: #a76526;
  --color-on-error: #ffffff;
  --color-on-secondary-fixed: #1c1b1b;
  --color-tertiary-fixed-dim: #d4c4b0;
  --color-on-tertiary-fixed-variant: #504536;
  --color-on-tertiary-container: #fffbff;
  --color-outline-variant: #d8c3b4;
  --color-background: #fcf9f6;
  --color-on-secondary-fixed-variant: #474746;
  --color-primary: #894d0d;
  --color-secondary-fixed-dim: #c8c6c5;
  --color-error-container: #ffdad6;
  --color-inverse-surface: #31302f;
  --color-inverse-on-surface: #f3f0ed;
  --color-on-error-container: #93000a;
  --color-secondary: #5f5e5e;
  --color-inverse-primary: #ffb77b;
  --color-error: #ba1a1a;
  --color-surface-container: #f0edea;
  --color-surface-dim: #dcdad7;
  --color-surface-bright: #fcf9f6;
  --color-tertiary-fixed: #f0e0cb;
  --color-surface-container-low: #f6f3f0;
  --color-on-background: #1c1c1a;
  --color-primary-fixed: #ffdcc2;
  --color-secondary-fixed: #e5e2e1;
  --color-on-tertiary: #ffffff;
  --color-tertiary: #665a4a;
  --color-tertiary-container: #7f7361;
  --color-on-surface-variant: #524439;
  --color-surface-variant: #e5e2df;
  --color-surface: #fcf9f6;
  --color-on-surface: #1c1c1a;
  --color-primary-fixed-dim: #ffb77b;
  --color-on-primary-container: #fffbff;
  --color-on-primary: #ffffff;
  --color-secondary-container: #e2dfde;
  --color-surface-container-highest: #e5e2df;
  --color-on-tertiary-fixed: #221a0d;
  --color-surface-tint: #8c4f10;

  --font-headline: "Newsreader", serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer base {
  body {
    @apply font-body bg-background text-on-surface antialiased;
  }
  h1, h2, h3, h4, h5, h6, .font-serif {
    @apply font-headline;
  }
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  .copper-glow {
    background: linear-gradient(135deg, #894d0d 0%, #a76526 100%);
  }
  .active-copper {
    color: #894d0d;
    border-bottom: 2px solid #894d0d;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f6f3f0;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #894d0d;
    border-radius: 12px;
  }
}
